*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  font-family: monospace;
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  background-color: hsla(0, 100%, 99%, 0.6);
}

#red {
  accent-color: red;
}

#green {
  accent-color: green;
}

#blue {
  accent-color: blue;
}

input + label {
  margin-left: 1rem;
}
