*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  grid-gap: 2rem;
}

label {
  font-size: 3rem;
  font-family: monospace;
}

input {
  height: 2rem;
  width: 2rem;
}
